[[source]]
url = "https://pypi.tuna.tsinghua.edu.cn/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "==1.11.15"
djangorestframework = "*"
mysqlclient = "*"

[dev-packages]

[requires]
python_version = "3.5"
